@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Mono:wght@400;600&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  color: #000000;
  transition: 0.3s;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}

.sub-title {
  font-weight: 400;
  font-size: 24px;
  color: #9B9B9B;
}

.button {
  background: #B4141B;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  border: 1px solid #B4141B;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  background: #d4545b;
  border: 1px solid #d4545b;
}
.button:active {
  background: #d4545b;
  border: 1px solid #B4141B;
  box-shadow: inset 0 0 10px #B4141B;
}

.header {
  background: #0E77AF;
}
.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
}
.header__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}
.header__icon {
  fill: #ffffff;
  cursor: pointer;
}
.header__mail a {
  color: #ffffff;
  font-size: 12px;
}
.header__content {
  background: #ffffff;
}
.header__content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
.header__logo {
  width: 10%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.header__linc {
  color: #000000;
  font-size: 14px;
}
.header__linc:hover {
  font-weight: 700;
}
.header__tel {
  width: 18%;
}
.header__tel a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__tel a p {
  font-size: 16px;
  color: #000000;
}
.header__tel a p span {
  font-size: 14px;
  color: #7D7D7D;
}

.burger-menu {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  align-items: center;
  cursor: pointer;
}
.burger-menu:hover {
  transition: 0.5s;
}
.burger-menu:hover hr {
  transform: rotate(45deg);
}
.burger-menu:hover::before {
  transform: rotate(45deg);
  top: 12.5px;
}
.burger-menu:hover::after {
  transform: rotate(-45deg);
  bottom: 12.5px;
}
.burger-menu:hover .burger-list {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.burger-menu:hover .burger-list a {
  padding: 5px;
}
.burger-menu hr {
  height: 5px;
  width: 100%;
  border: none;
  background: #0E77AF;
  position: relative;
}
.burger-menu::before {
  content: "";
  width: 30px;
  height: 5px;
  background: #0E77AF;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.burger-menu::after {
  content: "";
  width: 30px;
  height: 5px;
  background: #0E77AF;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.burger-menu .burger-list {
  position: absolute;
  top: 0;
  right: 30px;
  display: flex;
  flex-direction: column;
  width: 200px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.burger-menu .burger-list a {
  padding: 0;
  background: #0E77AF;
  color: #ffffff;
}
.burger-menu .burger-list a:hover {
  background: rgba(14, 119, 175, 0.9);
}

.burger-active hr {
  transform: rotate(45deg);
}
.burger-active::before {
  transform: rotate(45deg);
  top: 12.5px;
}
.burger-active::after {
  transform: rotate(-45deg);
  bottom: 12.5px;
}
.burger-active .burger-list {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.burger-active .burger-list a {
  padding: 5px;
}

@media (width <= 1200px) {
  .header__top {
    display: none;
  }
  .header__content .container {
    height: 100px;
  }
  .header__logo {
    width: 10%;
  }
  .header__tel {
    width: 19.5%;
  }
  .header__tel a p {
    font-size: 14px;
    color: #000000;
  }
  .header__tel a p span {
    font-size: 12px;
    color: #7D7D7D;
  }
}
@media (width <= 992px) {
  .header__content .container {
    height: 100px;
  }
  .header__logo {
    width: 10%;
  }
  .header__nav {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
}
.slider {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.slider__slid {
  transform: translateX(0);
  transition: 0.6s ease;
  min-width: 100%;
  position: relative;
  left: 0;
}
.slider__slid img {
  width: 100%;
}
.slider__info {
  position: absolute;
  top: 25%;
  left: 50%;
  max-width: 580px;
}
.slider__sub-title {
  font-size: 28px;
  margin-bottom: 30px;
}
.slider__title {
  font-weight: 700;
  font-size: 84px;
  margin-bottom: 10px;
}
.slider__text {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 60px;
}
.slider button {
  width: 50%;
  max-width: 284px;
  height: 74px;
  font-size: 24px;
  padding: 25px 0;
}
.slider .prev, .slider .next {
  height: 30px;
  width: 30px;
  border-right: 3px solid rgba(0, 0, 0, 0.5019607843);
  border-top: 3px solid rgba(0, 0, 0, 0.5019607843);
  position: absolute;
  top: calc(50% - 15px);
  z-index: 1;
  cursor: pointer;
}
.slider .prev {
  left: 50px;
  transform: rotate(225deg);
}
.slider .next {
  right: 50px;
  transform: rotate(45deg);
}

@media (width <= 1400px) {
  .slider__info {
    top: 10%;
  }
}
@media (width <= 1200px) {
  .slider__info {
    top: 10%;
    max-width: 500px;
  }
  .slider__sub-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .slider__title {
    font-size: 64px;
  }
  .slider__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .slider button {
    width: 60%;
    max-width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 15px 0;
  }
}
@media (width <= 992px) {
  .slider__info {
    left: calc(50% - 200px);
    max-width: 400px;
  }
  .slider__sub-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .slider__title {
    font-size: 44px;
  }
  .slider__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .slider button {
    width: 50%;
    max-width: 160px;
    height: 40px;
    font-size: 16px;
    padding: 5px 0;
  }
}
@media (width <= 576px) {
  .slider {
    display: none;
  }
}
.info1 {
  margin: 85px 0 135px;
}
.info1 .container {
  display: flex;
  justify-content: space-between;
}
.info1__about-us {
  width: 65%;
}
.info1__about-us img {
  width: 100%;
  margin-top: 56px;
}
.info1__about-us p {
  font-size: 16px;
  color: #000000;
  line-height: 29px;
}
.info1__about-us p:first-of-type {
  margin-top: 40px;
  margin-bottom: 50px;
}
.info1__why-us {
  width: 30%;
}
.info1__resons {
  margin-top: 56px;
}
.info1__reson {
  padding: 45px 30px 44px 37px;
  background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.info1__reson:hover {
  background: linear-gradient(180deg, #F3F3F3 2.58%, #F3F3F3 100%);
}
.info1__reson-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.info1__reson-title {
  font-size: 24px;
  font-weight: 700;
  color: #0E77AF;
}
.info1__reson-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 13px;
  line-height: 25px;
}
.info1__reson-linc {
  font-size: 12px;
  font-weight: 700;
  color: #7D7D7D;
  cursor: pointer;
}

@media (width <= 992px) {
  .info1 {
    margin: 45px 0 60px;
  }
  .info1 .container {
    display: block;
  }
  .info1__about-us {
    width: 100%;
    margin-bottom: 30px;
  }
  .info1__about-us img {
    width: 100%;
    margin-top: 36px;
  }
  .info1__about-us p:first-of-type {
    margin-bottom: 20px;
  }
  .info1__why-us {
    width: 100%;
  }
  .info1__resons {
    margin-top: 26px;
  }
  .info1__reson {
    padding: 30px 20px 26px 23px;
  }
}
.info2 {
  display: flex;
  margin-bottom: 130px;
}
.info2__lincs-side {
  width: 53%;
  position: relative;
  background: url(./images/info2/1.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: end;
  padding: 87px 0;
}
.info2__lincs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 21px;
}
.info2__linc {
  font-size: 22px;
  font-weight: 700;
  padding: 35px 40px 35px 34px;
  color: #ffffff;
  background: rgba(14, 119, 175, 0.9);
  cursor: pointer;
}
.info2__linc:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
}
.info2__info-side {
  width: 47%;
  background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
  padding: 77px 0 63px 65px;
}
.info2__title {
  margin-bottom: 10px;
}
.info2__sub-title {
  margin-bottom: 38px;
}
.info2__list {
  margin-bottom: 32px;
}
.info2__list li {
  font-size: 16px;
  line-height: 29px;
}
.info2 button {
  font-size: 12px;
  padding: 13px 19px;
}

.ative-linc {
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
}

@media (width <= 992px) {
  .info2 {
    display: block;
    margin-bottom: 60px;
  }
  .info2__lincs-side {
    width: 100%;
    height: 0;
    padding: 0;
    justify-content: center;
  }
  .info2__lincs {
    flex-direction: row;
    justify-content: center;
    row-gap: 0;
    position: absolute;
    top: -36px;
    width: 100%;
  }
  .info2__linc {
    width: 33.3%;
    font-size: 14px;
    padding: 10px 10px;
  }
  .info2__linc:hover {
    background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
  }
  .info2__info-side {
    width: 100%;
    background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
    padding: 30px 30px;
  }
  .info2__sub-title {
    margin-bottom: 15px;
  }
  .info2__list {
    margin-bottom: 15px;
  }
  .ative-linc {
    background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
  }
}
@media (width <= 576px) {
  .info2__linc {
    display: flex;
    font-size: 10px;
    padding: 8px 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.info3 {
  margin-bottom: 161px;
}
.info3 .container {
  display: flex;
  justify-content: space-between;
}
.info3__left {
  width: 50%;
}
.info3__title {
  margin-bottom: 9px;
}
.info3__sub-title {
  margin-bottom: 67px;
}
.info3__left__card-header {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(151, 151, 151);
  cursor: pointer;
}
.info3__left__card-header .info1__reson-title {
  position: relative;
}
.info3__left__card-header .info1__reson-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 20px;
  background: #000000;
  top: calc(50% - 10px);
  right: 10px;
}
.info3__left__card-header .info1__reson-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 20px;
  background: #000000;
  top: calc(50% - 10px);
  right: 10px;
  transform: rotate(90deg);
}
.info3__left__card-content {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.info3__left__card-content img {
  max-height: 160px;
}
.info3 .info1__reson-text {
  margin-top: 10px;
  line-height: 29px;
}
.info3__right {
  width: 40%;
}
.info3__right img {
  width: 100%;
}
.info3__right .info3__sub-title {
  margin-bottom: 40px;
}
.info3__right .info1__reson-text {
  margin: 30px 0;
}
.info3 button {
  padding: 10px 16px;
}

.active-card .info3__left__card-header .info1__reson-title::after {
  transform: rotate(90deg);
}
.active-card .info3__left__card-content {
  padding-top: 32px;
  opacity: 1;
  visibility: visible;
  height: auto;
}

@media (width <= 992px) {
  .info3 {
    margin-bottom: 80px;
  }
  .info3 .container {
    display: block;
  }
  .info3__left {
    width: 100%;
  }
  .info3__sub-title {
    margin-bottom: 26px;
  }
  .info3__left__card-content {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px;
  }
  .info3__right {
    margin-top: 26px;
    width: 100%;
  }
  .info3__right .info3__sub-title {
    margin-bottom: 26px;
  }
  .info3__right .info1__reson-text {
    margin: 15px 0;
  }
}
@media (width <= 576px) {
  .info3__left__card-content {
    display: block;
  }
  .info3__left__card-content img {
    width: 160px;
  }
}
.testimonials {
  padding: 150px 0 140px;
  background: #0E77AF;
}
.testimonials .container {
  display: flex;
  justify-content: space-between;
}
.testimonials__left h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.testimonials__left p {
  color: #ffffff;
  font-size: 24px;
}
.testimonials__left p:first-of-type {
  margin-bottom: 92px;
}
.testimonials__left p.testimonials__percent {
  font-size: 64px;
}
.testimonials__btns {
  margin-top: 56px;
  color: #ffffff;
  font-size: 28px;
}
.testimonials button {
  background: #0E77AF;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 28px;
}
.testimonials__right {
  width: 62%;
  background: #ffffff;
  padding: 75px 45px 82px 60px;
}
.testimonials__right p {
  color: #000000;
  font-size: 16px;
  line-height: 29px;
}
.testimonials__right p:first-of-type {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 13px;
}
.testimonials__right p:last-of-type {
  margin-top: 54px;
  font-weight: 700;
}

@media (width <= 768px) {
  .testimonials {
    padding: 40px 0 35px;
  }
  .testimonials .container {
    display: block;
  }
  .testimonials__left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .testimonials__left div {
    padding: 5px;
    text-align: center;
  }
  .testimonials__left h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .testimonials__left p {
    color: #ffffff;
    font-size: 16px;
  }
  .testimonials__left p:first-of-type {
    margin-bottom: 0px;
  }
  .testimonials__left p.testimonials__percent {
    font-size: 32px;
  }
  .testimonials__btns {
    margin-top: 0;
    color: #ffffff;
    font-size: 28px;
  }
  .testimonials__right {
    width: 100%;
    padding: 35px 20px 40px 30px;
  }
  .testimonials__right p {
    line-height: 29px;
  }
  .testimonials__right p:first-of-type {
    margin-bottom: 5px;
  }
  .testimonials__right p:last-of-type {
    margin-top: 10px;
  }
}
.connections {
  margin-top: 125px;
  margin-bottom: 228px;
}
.connections .container {
  display: flex;
  justify-content: space-between;
}
.connections__left {
  width: 50%;
  padding-top: 54px;
}
.connections__card {
  margin-bottom: 30px;
}
.connections__card .title {
  margin-bottom: 9px;
}
.connections__card .sub-title {
  margin-bottom: 24px;
}
.connections__card p {
  line-height: 29px;
  margin-bottom: 30px;
}
.connections__right {
  width: 40%;
}
.connections__right form {
  padding: 54px 38px 52px 48px;
  background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
  position: relative;
  text-align: right;
}
.connections__right form .title {
  text-align: left;
  margin-bottom: 46px;
}
.connections__right form input {
  height: 53px;
  width: 100%;
  background: #ffffff;
  padding: 19px 0 18px 13px;
  margin-bottom: 37px;
  border: 2px solid #E2E2E2;
}
.connections__right form button {
  font-size: 12px;
  padding: 12px 30px;
}

@media (width <= 992px) {
  .connections {
    margin-top: 60px;
    margin-bottom: 120px;
  }
  .connections .container {
    display: block;
  }
  .connections__left {
    width: 100%;
    padding-top: 54px;
    display: flex;
    justify-content: center;
  }
  .connections__card {
    width: 50%;
    margin-bottom: 30px;
  }
  .connections__card .title {
    margin-bottom: 5px;
  }
  .connections__card .sub-title {
    margin-bottom: 12px;
  }
  .connections__card p {
    margin-bottom: 15px;
  }
  .connections__right {
    width: 100%;
  }
  .connections__right form {
    padding: 30px 20px 35px 20px;
  }
}
@media (width <= 576px) {
  .connections__left {
    width: 100%;
    padding-top: 54px;
    display: block;
  }
  .connections__card {
    width: 100%;
  }
}
.footer {
  background: #4A4A4A;
}
.footer__conections {
  display: flex;
}
.footer__card {
  width: 33%;
  padding: 40px 67px;
  position: relative;
  top: -70px;
  background: #6C6C6C;
}
.footer__card:first-child {
  background: #5F5F5F;
}
.footer__card:last-child {
  background: #7B7B7B;
}
.footer__card h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ffffff;
}
.footer__card p {
  color: #ffffff;
}
.footer__card p a {
  color: #ffffff;
}
.footer__card img {
  position: absolute;
  top: calc(50% - 10px);
  left: 16px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  width: 30%;
}
.footer__info h2 {
  color: #ffffff;
  margin-bottom: 50px;
}
.footer__info p, .footer__info a {
  color: #ffffff;
  line-height: 29px;
}
.footer__info ul {
  list-style: none;
}
.footer__svg {
  fill: #ffffff;
  width: 40px;
  height: 40px;
  margin-right: 33px;
}

.sub-footer {
  margin-top: 120px;
  background: #363636;
  padding: 42px 0;
}
.sub-footer .container {
  color: #ffffff;
}

@media (width <= 768px) {
  .footer {
    background: #4A4A4A;
    padding-top: 30px;
  }
  .footer__conections {
    display: block;
    margin-bottom: 30px;
  }
  .footer__card {
    width: 100%;
    padding: 40px 67px;
    top: 0;
  }
  .footer__content {
    display: block;
  }
  .footer__info {
    width: 100%;
    text-align: center;
  }
  .footer__info h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .footer__info p, .footer__info a, .footer__info li, .footer__info svg {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  .footer__info:hover p, .footer__info:hover a, .footer__info:hover li, .footer__info:hover svg {
    visibility: visible;
    opacity: 1;
  }
  .footer__info:hover p {
    height: 100px;
  }
  .footer__info:hover li {
    height: 25px;
  }
  .footer__info:hover svg {
    height: 40px;
  }
  .footer__svg {
    margin-right: 0;
    margin: 0 10px;
  }
  .sub-footer {
    margin-top: 0;
    padding: 20px 0;
    text-align: center;
  }
}