@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoMono-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoMono-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoMono-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Icons';
    src: url('fonts/icon.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --bg: #fff;
    --title: #000;
    --call-us: #7D7D7D;
    --base-color: #0E77AF;
    --sub-title-color: #9B9B9B;
    --button-bg: #B4141B;
    --button-hover: #d4545b;
    --phone: #FBA518;
    --base-gradient: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
    --hov-gradient: linear-gradient(180deg, #f0ebeb 2.58%, #F3F3F3 100%);
    --link: rgba(14, 119, 175, 0.9);
    --link-hover: rgba(14, 119, 175, 0.6);
    --link-active: rgba(255, 255, 255, 0.9);
    --border: #E2E2E2;
    --footer-bg: #4A4A4A;
    --footer_card_color1: #5F5F5F;
    --footer_card_color2: #6C6C6C;
    --footer_card_color3: #7B7B7B;
    --sub-footer: #363636;
    --shadow: rgba(0, 0, 0, 0.1);
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-family: "", sans-serif;
    color: var(--title);
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.html.fixed,
body.fixed {
    overflow: hidden;
}
footer {
    margin-top: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    --webkit-appearance: none;
    margin: 0;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="date"],
textarea,
input[type="tel"],
select,
input[type="submit"],
button,
.btn {
    --webkit-appearance: none;
    border-radius: 0;
    transition: .2s linear;
    /* border-radius: 10px; */
}
input,
textarea,
select {
    /* border: 1px solid var(--border-color); */
    -webkit-appearance: none;
}
a {
    text-decoration: none;
    transition: 0.3s;
}
button {
    transition: .3s;
}
ul {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
textarea {
    --webkit-appearance: none;
    resize: vertical;
}
:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px var(--bg) !important;
    box-shadow: inset 0 0 0 50px var(--bg) !important;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}
.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--title);
}
.sub-title {
    font-weight: 400;
    font-size: 24px;
    color: var(--sub-title-color);
}
.button {
    background: var(--button-bg);
    color: var(--bg);
    font-weight: 700;
    text-align: center;
    border: 1px solid var(--button-bg);
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}
.button:active {
    background: var(--button-hover);
    border: 1px solid var(--button-bg);
    box-shadow: inset 0 0 10px var(--button-bg);
}
.my-button {
    border: none;
    background: transparent;
    cursor: pointer;
}
header {
    background: var(--bg);
}
header .top {
    background: var(--base-color);
}
header .top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}
header .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}
header .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--base-color);
    width: 25px;
    height: 25px;
}
header .social a::before {
    font-family: 'Icons';
    color: var(--bg);
    font-size: 23px;
    transition: .3s;
    border-radius: 50%;
}
header .social a:nth-child(1)::before {
    content: '\e908';
}
header .social a:nth-child(2)::before {
    content: '\e909';
}
header .social a:nth-child(3)::before {
    content: '\e906';
}
header .mail a {
    color: var(--bg);
    font-size: 14px;
}
header .content {
    background: var(--bg);
}
header .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
header .logo {
    width: 75px;
}
header .ws-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
header nav .item {
    transition: .3s;
}
header nav .item a {
    color: var(--title);
    font-size: 14px;
    text-transform: uppercase;
}
.right-box {
    display: flex;
    gap: 30px;
}
header .tel {
    max-width: 175px;
}
header .tel a {
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-template-areas: 'A B'
        'A C';
    transition: .3s;
}
header .tel a::before {
    content: '\e907';
    font-family: 'Icons';
    font-size: 35px;
    grid-area: A;
    color: var(--phone);
    margin-right: 5px;
}
header .tel a span {
    font-size: 14px;
    color: var(--call-us);
    grid-area: B;
}
header .tel a b {
    grid-area: C;
    color: var(--title);
}
.burger {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    align-items: center;
    cursor: pointer;
}
.burger span {
    height: 3px;
    width: 100%;
    border: none;
    background: var(--base-color);
    position: relative;
}
.burger::before,
.burger::after {
    content: "";
    width: 30px;
    height: 3px;
    background: var(--base-color);
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
}
.burger::after {
    top: initial;
    bottom: 5px;
}
header.active .burger span {
    transform: rotate(45deg);
}
header.active .burger::before {
    transform: rotate(-45deg);
    top: 13.5px;
}
header.active .burger::after {
    transform: rotate(-45deg);
    bottom: 17.5px;
    opacity: 0;
}
.slider {
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}
.slider .items {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.slider .items::-webkit-scrollbar {
    height: 0;
}
.slide {
    transition: 0.6s ease;
    min-width: 100%;
    position: relative;
    min-height: 300px;
}
.slide-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    max-width: 580px;
}
.slide-sub-title {
    font-size: 28px;
    margin-bottom: 30px;
}
.slide-title {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 10px;
}
.slide-text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 60px;
}
.slider button {
    font-size: 24px;
    padding: 20px 40px;
}
.slider .prev,
.slider .next {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% - 15px);
    cursor: pointer;
    z-index: 1;
}

.slider .prev::before,
.slider .next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    border-right: 3px solid rgba(0, 0, 0, 0.5019607843);
    border-top: 3px solid rgba(0, 0, 0, 0.5019607843);

}
.slider .prev {
    left: 50px;
}
.slider .next {
    right: 50px;
}
.slider .prev::before {
    transform: rotate(225deg) translate(45%, 20%);
}
.slider .next::before {
    transform: rotate(45deg) translate(-85%, 20%);
}
.about {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    margin-bottom: 130px;
}
.about-us {
    width: 65%;
}
.about-us img {
    width: 100%;
    margin-top: 56px;
    height: initial;
}
.about-us p {
    font-size: 16px;
    color: var(--title);
    line-height: 29px;
}
.about-us p:first-of-type {
    margin-top: 40px;
    margin-bottom: 50px;
}
.why-us {
    width: 30%;
}
.reasons {
    margin-top: 56px;
}
.reasons .item {
    position: relative;
    padding: 45px 30px 45px 35px;
    background: var(--base-gradient);
    box-shadow: 0 0 1px var(--shadow);
}
.reasons .item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--hov-gradient);
    transition: .3s;
    opacity: 0;
}
.reasons .item h3 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
    font-size: 24px;
    font-weight: 700;
    color: var(--base-color);
}
.reasons .item h3::after {
    font-family: 'Icons';
    font-size: 33px;
}
.reasons .item:nth-child(1) h3::after {
    content: '\e900';
}
.reasons .item:nth-child(2) h3::after {
    content: '\e901';
}
.reasons .item:nth-child(3) h3::after {
    content: '\e902';
}
.reasons .item p {
    position: relative;
    z-index: 1;
    font-size: 16px;
    color: var(--title);
    margin-bottom: 13px;
    line-height: 25px;
}
.reasons .my-button {
    position: relative;
    z-index: 1;
    font-size: 12px;
    font-weight: 700;
    color: var(--call-us);
    cursor: pointer;
}
.benefits {
    display: flex;
    margin-bottom: 130px;
}
.benefits .buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 53%;
    background: url(assets/images/1.png) no-repeat center;
    background-size: cover;
    row-gap: 20px;
    padding: 85px 0;
}
.benefits-btn {
    align-self: end;
    width: 100%;
    max-width: 480px;
    font-size: 22px;
    font-weight: 700;
    padding: 35px 40px 35px 30px;
    color: var(--bg);
    background: var(--link);
    cursor: pointer;
    transition: .3s;
}
.benefits-btn.active {
    background: var(--link-active);
    color: var(--title);
}
.benefits .slides {
    width: 47%;
    background: var(--base-gradient);
    position: relative;
}
.benefits .slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--base-gradient);
    padding: 40px 20px 40px 65px;
    transform: translate3d(100%, 0px, -1px);
}
.benefits .slide.active {
    transform: translate3d(0px, 0px, 0px);
}
.benefits h2 {
    margin-bottom: 10px;
}
.benefits h3 {
    margin-bottom: 30px;
}
.benefits ul {
    padding-left: 20px;
    margin-left: -20px;
    max-height: 60%;
    overflow-y: auto;
    scrollbar-width: none;
    max-width: 800px;
    margin-bottom: 30px;
    list-style: disc;
}
.benefits ul::-webkit-scrollbar {
    height: 0;
}
.benefits ul li {
    font-size: 16px;
    line-height: 29px;
}
.benefits button {
    font-size: 12px;
    padding: 13px 19px;
}
.info {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}
.services {
    width: 50%;
}
.services h2 {
    margin-bottom: 9px;
}
.services h3 {
    margin-bottom: 70px;
}
.services .card h4 {
    margin-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(151, 151, 151);
    cursor: pointer;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: var(--base-color);
}
.services .card h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 20px;
    background: var(--title);
    top: calc(50% - 10px);
    right: 10px;
    transition: .3s linear;
}
.services .card h4::before {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 20px;
    background: var(--title);
    top: calc(50% - 10px);
    right: 10px;
    transform: rotate(90deg);
    transition: .3s linear;
}
.services .card .content {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: .3s linear;
}
.services .card.active .content {
    padding-top: 32px;
    max-height: 200px;
}
.services .card .content img {
    max-width: 160px;
    max-height: 160px;
}
.services .card .content p {
    line-height: 29px;
}
.services .my-button {
    font-size: 12px;
    font-weight: 700;
    color: var(--call-us);
    cursor: pointer;
    padding: 0;
}
.services .card.active h4::after {
    transform: rotate(90deg);
}
.security {
    width: 40%;
}
.security img {
    width: 100%;
    height: initial;
}
.security h2 {
    margin-bottom: 10px;
}
.security h3 {
    margin-bottom: 40px;
}
.security p {
    margin: 30px 0;
}
.info button {
    padding: 10px 16px;
}
.testimonials {
    padding: 150px 0;
    background: var(--base-color);
}
.testimonials .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.testimonials h2 {
    color: var(--bg);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.testimonials .left p {
    color: var(--bg);
    font-size: 24px;
}
.testimonials .left p:first-of-type {
    margin-bottom: 90px;
}
.testimonials p.percent {
    font-size: 64px;
    margin-bottom: 90px;
}
.testimonials .btns {
    display: flex;
    gap: 15px;
    margin-top: 55px;
    color: var(--bg);
    font-size: 28px;
    justify-content: end;
}
.testimonials .btns :is(.prev, .next) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--bg);
    background: var(--base-color);
    color: var(--bg);
    cursor: pointer;
    font-size: 28px;
    transition: .3s;
}
.testimonials .btns :is(.prev, .next)::before {
    content: '';
    border: 3px solid var(--bg);
    width: 12px;
    height: 12px;
    border-radius: 2px;
    transition: .3s;
}
.testimonials .btns .prev::before {
    transform: rotate(45deg) translate(10%, -10%);
    border-top: none;
    border-right: none;
}
.testimonials .btns .next::before {
    transform: rotate(45deg) translate(-10%, 10%);
    border-bottom: none;
    border-left: none;
}
.testimonials .right {
    width: 62%;
    background: var(--bg);
    display: flex;
    overflow: hidden;
}
.testimonials .card {
    transform: translateX(0);
    transition: 0.6s ease;
    min-width: 100%;
    position: relative;
    left: 0;
    width: 100%;
    padding: 75px 45px 82px 60px;
}
.testimonials .card p {
    color: var(--title);
    font-size: 16px;
    line-height: 29px;
}
.testimonials .card p:first-of-type {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
}
.testimonials .card p:last-of-type {
    margin-top: 54px;
    font-weight: 700;
}
.connections {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 220px;
}
.connections .left {
    width: 50%;
    padding-top: 55px;
}
.connections .card {
    margin-bottom: 30px;
}
.connections .card .title {
    margin-bottom: 10px;
}
.connections .card .sub-title {
    margin-bottom: 24px;
}
.connections .card p {
    line-height: 29px;
    margin-bottom: 30px;
}
.connections .card button {
    color: var(--call-us);
}
.connections .right {
    width: 40%;
}
.connections form {
    padding: 55px 40px 50px 50px;
    background: var(--base-gradient);
    position: relative;
    text-align: right;
}
.connections form .title {
    text-align: left;
    margin-bottom: 45px;
}
.connections form input {
    width: 100%;
    background: var(--bg);
    padding: 20px 10px 20px 15px;
    margin-bottom: 37px;
    border: 2px solid var(--border);
}
.connections form button {
    font-size: 12px;
    padding: 15px 30px;
}
footer {
    background: var(--footer-bg);
}
footer .contacts {
    display: flex;
    transform: translateY(-70px);
}
footer .card {
    width: 100%;
    padding: 40px 70px;
    position: relative;
    background: var(--footer_card_color2);
}
footer .card:first-child {
    background: var(--footer_card_color1);
}
footer .card:last-child {
    background: var(--footer_card_color3);
}
footer .contacts .card::before {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg);
    font-size: 35px;
    font-family: 'Icons';
    transition: .3s;
}
footer .contacts .card:nth-child(1):before {
    content: '\e903';
}
footer .contacts .card:nth-child(2):before {
    content: '\e904';
}
footer .contacts .card:nth-child(3):before {
    content: '\e905';
}
footer .card h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--bg);
}
footer .card :is(p, a) {
    color: var(--bg);
    transition: .3s;
}
footer .content {
    display: flex;
    justify-content: space-between;
}
footer .content .box {
    display: flex;
    flex-direction: column;
    width: 30%;
}
footer .content .box h3 {
    color: var(--bg);
    margin-bottom: 50px;
    font-size: 24px;
}
footer .content .box p,
footer .content .box a {
    color: var(--bg);
    line-height: 29px;
}
footer .social {
    align-self: start;
}
footer .social div {
    display: flex;
    gap: 30px;
}
footer .social a::before {
    font-family: 'Icons';
    font-size: 40px;
    transition: .3s;
}
footer .social div a:nth-child(1):before {
    content: '\e908';
}
footer .social div a:nth-child(2):before {
    content: '\e909';
}
footer .social div a:nth-child(3):before {
    content: '\e906';
}
.copyright {
    margin-top: 120px;
    background: var(--sub-footer);
    padding: 40px 0;
}
.copyright .container {
    color: var(--bg);
}
@media screen and (max-width: 1200px) {
    header .burger {
        display: flex;
    }
    header .top {
        display: none;
    }
    header nav {
        position: fixed;
        top: 120px;
        right: 0;
        height: calc(100vh - 120px);
        max-width: 380px;
        width: 100%;
        background: var(--base-color);
        padding: 40px 0;
        z-index: 10;
        overflow-y: auto;
        scrollbar-width: none;
        transform: translateX(100%);
        transition: .3s linear;
    }
    header.active nav {
        transform: translateX(0);
    }
    header nav::-webkit-scrollbar {
        height: 0;
    }
    header .ws-menu {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        gap: 0;
    }
    header .ws-menu .item {
        border-bottom: 1px solid var(--bg);
        padding: 10px;
    }
    header .ws-menu .item a {
        color: var(--bg);
        padding-left: 20px;
    }
    header .ws-menu .item:last-child {
        margin-bottom: 40px;
    }
    header .tel a {
        font-size: 14px;
        color: var(--title);
    }
    header .tel a span {
        font-size: 12px;
        color: var(--call-us);
    }
    .slide-info {
        max-width: 600px;
        left: 15%;
    }
    .slide-sub-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .slide-title {
        font-size: 64px;
    }
    .slide-text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .slider button {
        font-size: 20px;
    }
}
@media screen and (max-width: 992px) {
    .about {
        display: block;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .about-us {
        width: 100%;
        margin-bottom: 30px;
    }
    .about-us img {
        width: 100%;
        margin-top: 36px;
    }
    .about-us p:first-of-type {
        margin-bottom: 20px;
    }
    .why-us {
        width: 100%;
    }
    .reasons {
        margin-top: 26px;
    }
    .reasons .item {
        padding: 30px 20px 26px 23px;
    }
    .benefits {
        flex-direction: column;
        margin-bottom: 60px;
    }
    .benefits .buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: 0;
        width: 100%;
        padding: 0;
        background: var(--link);
    }
    .benefits-btn {
        width: 33.3%;
        font-size: 14px;
        align-self: stretch;
        padding: 10px 10px;
        border: 3px solid var(--link);
    }
    .benefits .slides {
        width: 100%;
    }
    .benefits .slide {
        padding: 30px 20px 30px 30px;
    }
    .benefits .slide.active {
        opacity: 1;
        visibility: visible;
        position: relative;
    }
    .benefits h3 {
        margin-bottom: 15px;
    }
    .benefits ul {
        margin-bottom: 15px;
    }
    .info {
        margin-bottom: 80px;
        display: block;
    }
    .services {
        width: 100%;
    }
    .services h3 {
        margin-bottom: 25px;
    }
    .services .card .content {
        max-height: 0px;
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
    }
    .security {
        margin-top: 26px;
        width: 100%;
    }
    .security h3 {
        margin-bottom: 26px;
    }
    .security p {
        margin: 15px 0;
    }
    .services .card.active .content {
        padding-top: 15px;
    }
    .connections {
        display: block;
        margin-top: 60px;
        margin-bottom: 120px;
    }
    .connections .left {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        gap: 20px;
    }
    .connections .card {
        width: 50%;
        margin-bottom: 30px;
    }
    .connections .card .title {
        margin-bottom: 5px;
    }
    .connections .card .sub-title {
        margin-bottom: 12px;
    }
    .connections .card p {
        margin-bottom: 15px;
    }
    .connections .right {
        width: 100%;
    }
    .connections .right form {
        padding: 30px 20px 35px 20px;
    }
    footer .card {
        padding: 30px 10px 30px 55px;
    }
    footer .contacts .card::before {
        left: 10px;
    }
}
@media screen and (max-width: 768px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 100;
    }
    .slider {
        margin-top: 120px;
    }
    .slide-info {
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .slide-sub-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .slide-title {
        font-size: 30px;
    }
    .slider :is(.next, .prev) {
        display: none;
    }
    .slide-text {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .slider button {
        font-size: 16px;
        padding: 10px 20px;
    }
    .benefits .buttons {
        flex-direction: column;
        width: 100%;
    }
    .benefits-btn {
        max-width: initial;
        width: 100%;
        text-align: center;
    }
    .testimonials {
        padding: 40px 0;
        position: relative;
        padding-bottom: 60px;
    }
    .testimonials .container {
        display: block;
    }
    .testimonials .left {
        display: grid;
        grid-template-areas: 'A C'
            'B D';
        width: 100%;
        gap: 5px 10px;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin-bottom: 10px;
    }
    .testimonials h2 {
        grid-area: A;
        font-size: 20px;
        margin-bottom: 0;
    }
    .testimonials h2 + p {
        grid-area: B;
        margin-bottom: 0px !important;
    }
    .testimonials .left p {
        color: var(--bg);
        font-size: 14px;
        text-align: center;
    }
    .testimonials p.percent {
        grid-area: C;
        margin-bottom: 0;
        font-size: 30px;
    }
    .testimonials p.percent + p {
        grid-area: D;
    }
    .testimonials .btns {
        margin-top: 0;
        color: var(--bg);
        font-size: 18px;
    }
    .testimonials .btns {
        position: absolute;
        bottom: 20px;
        right: 20px;
        gap: 10px;
        color: var(--bg);
    }
    .testimonials .btns :is(.prev, .next) {
        width: 30px;
        height: 30px;
        border: 2px solid var(--bg);
        background: var(--base-color);
        color: var(--bg);
        cursor: pointer;
        font-size: 28px;
        transition: .3s;
    }
    .testimonials .btns :is(.prev, .next)::before {
        content: '';
        width: 8px;
        height: 8px;
    }
    .testimonials .btns button {
        font-size: 18px;
    }
    .testimonials .right {
        width: 100%;
    }
    .testimonials .card {
        padding: 35px 20px 40px 30px;
    }
    .testimonials .card p {
        line-height: 29px;
    }
    .testimonials .card p:first-of-type {
        margin-bottom: 5px;
    }
    .testimonials .card p:last-of-type {
        margin-top: 10px;
    }
    .connections .left {
        flex-direction: column;
        gap: 0;
    }
    .connections .card {
        width: 100%;
    }
    .connections .card .title {
        font-size: 26px;
    }
    .connections .card .sub-title {
        font-size: 20px;
    }
    footer {
        padding-top: 30px;
    }
    footer .contacts {
        display: block;
        margin-bottom: 30px;
        transform: translateY(0);
    }
    footer .card {
        width: 100%;
    }
    footer .content {
        display: block;
    }
    footer .content .box {
        width: 100%;
        text-align: center;
    }
    footer .content .box h3 {
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    footer .social div {
        justify-content: center;
    }
    .copyright {
        margin-top: 40px;
        padding: 20px 0;
        text-align: center;
    }
}
@media screen and (max-width:475px) {
    header .tel {
        display: none;
    }
    .services .card .content {
        display: block;
    }
    .services .card .content img {
        width: 160px;
    }
    .services .card.active .content {
        height: 300px;
    }
    .services .card .content p {
        margin-top: 5px;
        line-height: 20px;
        font-size: 14px;
    }
}
@media screen and (min-width:768px) {
    .button:hover {
        background: var(--button-hover);
        border: 1px solid var(--button-hover);
    }
    .benefits-btn:hover {
        background: var(--link-hover);
    }
    .benefits-btn.active:hover {
        background: var(--link-active);
    }
    header .social a:hover:before {
        color: var(--sub-title-color);
    }
    header nav .item:hover {
        border-bottom: 1px solid var(--title);
    }
    header .tel:hover a b {
        color: var(--base-color);
    }
    .my-button:hover {
        color: var(--title) !important;
    }
    .reasons .item:hover:before {
        opacity: 1;
    }
    .services .card h4:hover {
        border-color: var(--link);
    }
    .services .card h4:hover::after,
    .services .card h4:hover::before {
        background: var(--base-color);
    }
    .testimonials .btns .prev:hover,
    .testimonials .btns .next:hover,
    .testimonials .btns .prev:hover::before,
    .testimonials .btns .next:hover::before {
        border-color: var(--phone);
    }
    footer .card:hover::before {
        color: var(--phone);
    }
    footer .card:hover a {
        color: var(--phone);
    }
    header .mail a:hover,
    footer .social div a:hover:before {
        color: var(--phone);
    }
}
