*, *::after,*::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
    color: $blake_color;
    transition: .3s;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}
.title {
    font-size: 32px;
    font-weight: $fat;
    color: $blake_color;
}
.sub-title{
    font-weight: 400;
    font-size: 24px;
    color: $sub-title_color;
}
.button{
    background: $button_normal_bg;
    color: $white_color;
    font-weight: $fat;
    text-align: center;
    border: 1px solid $button_normal_bg;
    cursor: pointer;
    transition: .3s;
    &:hover{
        background: $button_hover_bg;
        border: 1px solid $button_hover_bg;
    }
    &:active{
        background: $button_hover_bg;
        border: 1px solid $button_normal_bg;
        box-shadow: inset 0 0 10px $button_normal_bg;
    }
}


@media (width <= 1400px) { 
    
}

@media (width <= 1200px) {

}
@media (width <= 992px) {

}

@media (width <= 768px) {

}
@media (width <= 576px) {

}
