.header {    
    background: $base_color;
    &__top .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 38px;
    }
    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70px;
    }
    &__icon {
        fill:$white_color;
        cursor: pointer;
    }
    &__mail {
        a{
            color: $white_color;
            font-size: 12px;
        }
    }
    &__content{
        background: $white_color;
    }
    &__content .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
    }
    &__logo {
        width: 10%;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    &__linc {
        color: $blake_color;
        font-size: 14px;
        &:hover{
            font-weight: $fat;
        }
    }
    &__tel {
        width: 18%;
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
            font-size: 16px;
            color: $blake_color;

            span{
                font-size: 14px;
                color: $call_us_color;
            }
        }
        }
        
    }
}


@media (width <= 1400px) { 
    
}

@media (width <= 1200px) {
    .header {    
        &__top {
           display: none;
        }
        &__content .container{
            height: 100px;
        }
        &__logo {
            width: 10%;
        }
        &__tel {
            width: 19.5%;
            a{
                p{
                font-size: 14px;
                color: $blake_color;
    
                span{
                    font-size: 12px;
                    color: $call_us_color;
                }
            }
            }
            
        }
    }
}
.burger-menu{
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    align-items: center;
    cursor: pointer;
    &:hover{
        hr{
            transform: rotate(45deg);
         }    
         &::before{
             transform: rotate(45deg);
             top: 12.5px;
         }
         &::after{
             transform: rotate(-45deg);
             bottom: 12.5px;
         }
         .burger-list{
             opacity: 1;
             visibility: visible;
             height: auto;
             a{
                 padding: 5px;
             }
         }
    }
    hr{
        height: 5px;
        width: 100%;
        border: none;
        background: $base_color;
        position: relative;
    }    
    &::before{
        content: "";
        width: 30px;
        height: 5px;
        background: $base_color;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::after{
        content: "";
        width: 30px;
        height: 5px;
        background: $base_color;
        display: block;
        position: absolute;
        bottom:  0;
        left: 0;
    }
    .burger-list{
        position: absolute;
        top: 0;
        right: 30px;
        display: flex;
        flex-direction: column;
        width: 200px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        height: 0;
        a{
            padding: 0;
            background: $base_color;
            color: $white_color;
            &:hover{
                background: $linc_normal_bg;
            }
        }
    }
}
.burger-active{
    hr{
       transform: rotate(45deg);
    }    
    &::before{
        transform: rotate(45deg);
        top: 12.5px;
    }
    &::after{
        transform: rotate(-45deg);
        bottom: 12.5px;
    }
    .burger-list{
        opacity: 1;
        visibility: visible;
        height: auto;
        a{
            padding: 5px;
        }
    }
}
@media (width <= 992px) {
    .header {    
        &__content .container{
            height: 100px;
        }
        &__logo {
            width: 10%;
        }
        &__nav {
            display: none;
        }
        &__tel {
            display: none;         
        }

    }
    .burger-menu{
        display: flex;
    }
}

@media (width <= 768px) {

}
@media (width <= 576px) {

}



