.info2 {
    display: flex;
    margin-bottom: 130px;
    &__lincs-side {
        width: 53%;
        position: relative;
        background: url(./images/info2/1.png) no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: end;
        padding: 87px 0;
    }
    &__lincs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 21px;
    }
    &__linc {
        font-size: 22px;
        font-weight: $fat;
        padding: 35px 40px 35px 34px;
        color: $white_color;
        background: $linc_normal_bg;
        cursor: pointer;
        &:hover{
            background: $linc_activ_bg;
            color: $blake_color;
        }
    }
    &__info-side {
        width: 47%;
        background: $base_bg_color;
        padding: 77px 0 63px 65px;
    }
    &__title {
        margin-bottom: 10px;
    }
    &__sub-title {
        margin-bottom: 38px;
    }
    &__list {
        margin-bottom: 32px;
        li{
            font-size: 16px;
            line-height: 29px;
        }
    }
    button{
        font-size: 12px;
        padding: 13px 19px;
    }
}

.ative-linc{
    background: $linc_activ_bg;
    color: $blake_color;
}

@media (width <= 992px) {
    .info2 {
        display: block;
        margin-bottom: 60px;
        &__lincs-side {
            width: 100%;
            height: 0;
            padding:  0;
            justify-content: center;
        }
        &__lincs {
            flex-direction: row;
            justify-content: center;
            row-gap: 0;
            position: absolute;
            top: -36px;
            width: 100%;
        }
        &__linc {
            width: 33.3%;
            font-size: 14px;
            padding: 10px 10px;
            &:hover{
                background: $base_bg_color;
            }
        }
        &__info-side {
            width: 100%;
            background: $base_bg_color;
            padding: 30px 30px;
        }
        &__sub-title {
            margin-bottom: 15px;
        }
        &__list {
            margin-bottom: 15px;
        }
    }
    .ative-linc{
    background: $base_bg_color;
}
}

@media (width <= 576px) {
    .info2 {
        &__linc {
            font-size: 10px;
            padding: 8px 3px;
        }
    }
}