.testimonials {
    padding: 150px 0 140px;
    background: $base_color;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        h2{
            color: $white_color;
            font-size: 32px;
            font-weight: $fat;
            margin-bottom: 10px;
        }
        p{
            color: $white_color;
            font-size: 24px;
            &:first-of-type{
                margin-bottom: 92px;
            }
            &.testimonials__percent{
                font-size: 64px;
            }    
        }     
    }
    &__btns {
        margin-top: 56px;
        color: $white_color;
        font-size: 28px;
    }
    button{
        background: $base_color;
        border: none;
        color: $white_color;
        cursor: pointer;
        font-size: 28px;
    }
    &__right {
        width: 62%;
        background: $white_color;
        display: flex;
        overflow: hidden;
    }    
    &__card{
        transform: translateX(0);
        transition: 0.6s ease;
        min-width: 100%;
        position: relative;
        left: 0;
        width: 100%;
        padding: 75px 45px 82px 60px;
       p{
            color: $blake_color;
            font-size: 16px;
            line-height: 29px;
            &:first-of-type{
                font-size: 20px;
                font-weight: $fat;
                margin-bottom: 13px;
            }
            &:last-of-type{
                margin-top: 54px;
                font-weight: $fat;
            }
        } 
    }
        
        
    
}


@media (width <= 768px) {
    .testimonials {
        padding: 40px 0 35px;
        .container {
            display: block;
        }
        &__left {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            div{
                padding: 5px;
                text-align: center;
            }
            h2{
                font-size: 24px;
                margin-bottom: 5px;
            }
            p{
                color: $white_color;
                font-size: 16px;
                &:first-of-type{
                    margin-bottom: 0px;
                }
                &.testimonials__percent{
                    font-size: 32px;
                }    
            }     
        }
        &__btns {
            margin-top: 0;
            color: $white_color;
            font-size: 28px;
        }
        &__right {
            width: 100%;    
        }    
        &__card{
            padding: 35px 20px 40px 30px;
            p{
                line-height: 29px;
                &:first-of-type{
                    margin-bottom: 5px;
                }
                &:last-of-type{
                    margin-top: 10px;
                }
            }
        }    
        
    }
}
